<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		 <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> 
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.yongliang.jackson, com.yongliang.java,com.jersey.jaxb,com.fasterxml.jackson.jaxrs.json</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
  	<servlet-name>EmpLoginServlet</servlet-name>
  	<display-name>EmpLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.myservlet.EmpLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeHome</servlet-name>
  	<display-name>EmployeeHome</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.myservlet.EmployeeHome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditInfoServlet</servlet-name>
  	<display-name>EditInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.myservlet.EditInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimburseServlet</servlet-name>
  	<display-name>ReimburseServlet</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.myservlet.ReimburseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnEmployeeHome</servlet-name>
  	<display-name>ReturnEmployeeHome</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.myservlet.ReturnEmployeeHome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnDisplayRequest</servlet-name>
  	<display-name>ReturnDisplayRequest</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.myservlet.ReturnDisplayRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletJackson</servlet-name>
  	<display-name>ServletJackson</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.jackson.ServletJackson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletJson</servlet-name>
  	<display-name>ServletJson</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.jackson.ServletJackson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageRequestServlet</servlet-name>
  	<display-name>ManageRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.managerservlet.ManageRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnManagerHome</servlet-name>
  	<display-name>ReturnManagerHome</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.managerservlet.ReturnManagerHome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptDenyServlet</servlet-name>
  	<display-name>AcceptDenyServlet</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.managerservlet.AcceptDenyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpLogoutServlet</servlet-name>
  	<display-name>EmpLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.myservlet.EmpLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MainHomeServlet</servlet-name>
  	<display-name>MainHomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.yongliang.managerservlet.MainHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmpLoginServlet</servlet-name>
  	<url-pattern>/ELS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeHome</servlet-name>
  	<url-pattern>/EH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditInfoServlet</servlet-name>
  	<url-pattern>/EIS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimburseServlet</servlet-name>
  	<url-pattern>/RBS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReturnEmployeeHome</servlet-name>
  	<url-pattern>/REH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReturnDisplayRequest</servlet-name>
  	<url-pattern>/RDR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletJackson</servlet-name>
  	<url-pattern>/ServletJackson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletJson</servlet-name>
  	<url-pattern>/ServletJson</url-pattern>
  </servlet-mapping>
  
  	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>ManageRequestServlet</servlet-name>
  		<url-pattern>/MRS</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>ReturnManagerHome</servlet-name>
  		<url-pattern>/RMH</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>AcceptDenyServlet</servlet-name>
  		<url-pattern>/ADS</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>EmpLogoutServlet</servlet-name>
  		<url-pattern>/ELSS</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>MainHomeServlet</servlet-name>
  		<url-pattern>/MHSS</url-pattern>
  	</servlet-mapping>
</web-app>
